/* styles for IE7 */
div.info-area 
{
    position: absolute;
    top: 36px;
}

div#nav-tabs 
{
    top: -18px
}

div.box
{
    top: 15px;
    bottom: 15px;
}

div#dancesCal
{
    top: 15px;
}

div#dancesMap
{
    top: 177px;
}

div.searchFor
{
    top: 15px;
}

div#bandsDiv div.list.box,
div#hallsDiv div.list.box
{
    top: 64px;
    bottom: 15px;
}

#hallsMap
{
    top: 15px !important;
}

#dCardList
{
    top: 15px;
    bottom: 65px;
}

#dCardMap
{
    top: 15px;
    bottom: 35px;
}

#removeAllButton
{
    width: 110px;
    bottom: 35px;
}

#danceCardDiv div.share
{
    bottom: 10px;
}

#popup_block
{
}

#fade
{
    z-index: -1;
}