div {
    color: #CCCCCC;
}

/**************** Main Container ****************/
div#main-container {
    bottom: 50px;
    font-family: Arial,sans-serif;
    position: fixed;
    top: 170px;
    width: 760px;
    bottom: 50px;
}

div.info-area{ /*Contains everything under the tabs */
	background-image: url('../images/stripedBG.jpg');
    background-repeat:repeat;
    height:100%;
    width: 100%;
}

div#dance-card-info-area{ /*Contains everything under the tabs */
	background-image: url('../images/stripedBG.jpg');
    background-repeat:repeat;
    height:100%;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}

/**************** Tabs ****************/
div#nav-tabs {
	position: relative;
	border-bottom: 4px solid #396494;
	width: 100%;
	height: 32px;
}

div#dCardTabBtn{
	position: relative;
	bottom: 32px;
	text-align: center;
	line-height: 32px;
	width: 132px;
	height: 32px;
	color: white;
	font-size: 17px;
	text-indent:20px;
	font-family: georgia, serif;
	background-image: url('../images/cssSprite.png');
	background-position: 0px -80px;
	float:right;
}

div#dCardTabBtn.active-link{
	background-position: -300px -80px;
}

div#dCardTabBtn:hover{
	background-position: -150px -80px;
}

ul#tab-list{
	list-style:none;
	overflow:hidden;
	margin: 0px;
	padding: 0px;
	position:relative;
	left:-1px;
}

ul#tab-list li{
	display:inline;
	text-align:center;
	line-height:32px;
	display: block;	
	width: 88px;
	margin-right:7px;
	height: 32px;
	text-decoration:none;
	color: white;
	font-family: georgia, serif;
	font-size: 17px;
	background: url(../images/cssSprite.png);
	background-position: 0px -20px;
	float:left;
}

ul#tab-list li.active-link{
	background-position: -200px -20px;
}

ul#tab-list li:hover{
	background-position: -100px -20px;
}

/**************** Listings area ****************/
div.box {
	background-color: transparent;
	width: 340px;
	position: absolute;
	top: 50px;
	bottom: -20px;
	border-radius: 10px 10px 10px 10px;	
}

div.dancebox {
	background-color: transparent;
	width: 340px;
	position: absolute;
	margin-left: auto;
    margin-right: auto;
	top: 50px;
	bottom: -20px;
	border-radius: 10px 10px 10px 10px;	
}

div.list{
	left: 15px;
	width: 370px;
	overflow: auto;
	border-radius: 0 0 0 0;
}

#listing {
    background-color: black;
    border-radius: 10px 10px 10px 10px;
    height: 89px;
    position: relative;
    margin-bottom: 6px;
    width: 352px;
}

#listing div.featured{
	position:relative;
	left:-1px;
	top: -1px;
	height:90px;
	width: 55px;
	background: url(../images/cssSprite.png);
	background-position: 0px -390px;
	border-radius: 10px 0px 0px 10px;
	-moz-border-radius: 10px 0px 0px 10px;
	-webkit-border-top-right-radius: 0px;
	-webkit-border-bottom-right-radius: 0px;
	
}
/*Used for band and hall page */
#itemlisting div.featured{ 
	position:relative;
	left:-1px;
	top: -1px;
	height:90px;
	width: 55px;
	background: url(../images/cssSprite.png);
	background-position: 0px -590px;
	border-radius: 10px 0px 0px 10px;
	-moz-border-radius: 10px 0px 0px 10px;
	-webkit-border-top-right-radius: 0px;
	-webkit-border-bottom-right-radius: 0px;
	
}

#itemlisting div.standard{
	position:relative;
	left:-1px;
	top: -1px;
	height:90px;
	width: 55px;
	background: url(../images/cssSprite.png);
	background-position: 0px -490px;
	border-radius: 10px 0px 0px 10px;
	-moz-border-radius: 10px 0px 0px 10px;
	-webkit-border-top-right-radius: 0px;
	-webkit-border-bottom-right-radius: 0px;
	
}

#listing div.standard{
	position:relative;
	left:-1px;
	top: -1px;
	height:90px;
	width: 55px;
	background: url(../images/cssSprite.png);
	background-position: 0px -290px;
	border-radius: 10px 0px 0px 10px;
	-moz-border-radius: 10px 0px 0px 10px;
	-webkit-border-top-right-radius: 0px;
	-webkit-border-bottom-right-radius: 0px;
	
}
div#listing-date{
	position: relative;
	top: 17px;
	width:100%;
	text-align: center;
}

#listing div.featured #listing-date{
	top: 22px;
}

div.date, div.day, div#listing-time{
	position: relative;
	color: white;
	text-align: center;
	vertical-align: middle;
}

div.date{
	font-family: georgia, serif;
	font-size: 11px;
	font-weight: bold;
	line-height:10px;
	top: -3px;
}

div.day{
	top: -9px;
	font-family: georgia, serif;
	font-size: 35px;
	font-weight: bold;
	line-height:32px;
}

div#listing-time{
	position: relative;
	top: 24px;
	font-family: arial, sans-serif;
	font-size: 10px;
	line-height:11px;
}

div.twostepphoto{
	background: url(../images/cssSprite.png);
	background-position: 0px -140px;
    height: 40px;
    width: 40px;
    left: 295px;
    top: 10px;
    position: absolute;
}

div.twostepphoto:hover{
	background-position: -60px -140px;
}

div.twostepphoto:active{
	background-position: -120px -140px;
}

div.addToDanceCard{
	text-align:center;
	position: absolute;
	left:290px;
	top: 53px;
	font-family: Georgia,serif;
	font-size: 10px;
	color: #F8C898;
	letter-spacing: -0.05em;
}

/* ******************Calendar and map inside info-area******************* */
div#dancesCal {
	background:url(../images/cal.jpg) no-repeat;
	right: 15px;
	top: 50px;
}

div#dancesMap {
    right: 14px;
	top: 206px;
}

div#item-main-map {
    right: 14px;
	top: 50px;
}

/* ******************Band & Hall popups******************* */
div#popuplist{
	overflow: auto;
	position: absolute;
	top: 230px;
	left: 10px;
	bottom: 20px;
	width: 370px;
	background-color: transparent;
	float: left;
}

#info {
    display: inline;
    left: 20px;
    position: absolute;
    float:left;
}

.detailtext {
    color: white;
	height: 145px;
	width: 337px;
    font-family: Arial,sans-serif;
    font-size: 14px;
	overflow: auto;
}

div#main-photo{

	background-color: black;
	border-radius: 15px;
	-moz-border-radius: 15px;
	-webkit-border-radius: 15px;
	height: 200px;
	width: 250px;
	position: relative;
	left: 400px;
	top: 20px;
}

div#main-photo img{
	width: 210px;
	height: 160px;
	border: 0px;
	display: block;
    margin: auto;
    position: absolute;
    top: 20px;
    left: 20px;
}

div.popup-time{
	font-family: georgia, serif;
	font-size: 35px;
	position:relative;
	top:5px;
	left:-17px;
	text-align:center;
}

.detailmap {
   background-color: black;
	border-radius: 15px;
	-moz-border-radius: 15px;
	-webkit-border-radius: 15px;
	height: 200px;
	width: 250px;
	position: relative;
	left: 400px;
	top: 30px;
}


/* ****************** Event List ******************* */
#listing div.detail-standard{
	position:relative;
	top: -1px;
	left:-1px;
	height:90px;
	width: 55px;
	background: url(../images/cssSprite.png);
	background-position: 0px -190px;
	border-radius: 10px 0px 0px 10px;
	-moz-border-radius: 10px 0px 0px 10px;
	-webkit-border-top-right-radius: 0px;
	-webkit-border-bottom-right-radius: 0px;
}

.title {
    color: #CCCCCC;
    font-size: 24px;
}

h2 {
	font-family: georgia, serif;
    font-size: 26px;
	color: #C1D8F5;
    width: 337px;
}

#details {
    left: 60px;
    padding: 0 20px;
    position: absolute;
    top: 13px;
}

.bandphoto {
    border: 0 none;
    height: 50px;
    left: 10px;
    position: absolute;
    top: 17px;
    width: 80px;
}

.atvenue {
    color: #CCCCCC;
    font-size: 20px;
	font-weight: bold;
	font-family: Georgia;
    left: 100px;
    position: absolute;
    text-align: center;
    top: 30px;
}

.venuephoto {
    border: 0 none;
    height: 50px;
    left: 130px;
    position: absolute;
    top: 17px;
    width: 80px;
}

#bandinfo {
    font-size: 10px;
    left: -5px;
    position: absolute;
    text-align: center;
    top: 70px;
    width: 110px;
    word-wrap: break-word;
}

#venueinfo {
    font-size: 10px;
    left: 117px;
    position: absolute;
    text-align: center;
    top: 70px;
    width: 110px;
    word-wrap: break-word;
}

.detailphoto {
    float: left;
}

.detailphoto img {
    border: 0 none;
    height: 200px;
    margin-right: 10px;
    width: 350px;
}

/* ****************** Popup Stuff ******************* */
#popuplisting {
    background-color: #000000;
    border-radius: 10px 10px 10px 10px;
    height: 100px;
    left: 10px;
    position: absolute;
    top: 10px;
    width: 330px;
}

#popupbandinfo {
    font-size: 16px;
    position: absolute;
    text-align: center;
    top: 20px;
    width: 70px;
    word-wrap: break-word;
}

#popupvenueinfo {
    font-size: 16px;
    left: 129px;
    position: absolute;
    text-align: center;
    top: 20px;
    width: 70px;
    word-wrap: break-word;
}

.popupbox {
    background-color: #3D3D45;
    border-radius: 20px 20px 20px 20px;
    height: 200px;
    position: absolute;
    top: 230px;
    width: 350px;
}
#fade { /*--Transparent background layer--*/
	display: none; /*--hidden by default--*/
	background: #000;
	position: fixed; top:0px; left:0px;
	width: 100%; height: 100%;
	opacity: .80;
	z-index: 9999;
}
.popup_block{
	display: none; /*--hidden by default--*/
	background-image: url('../images/stripedBG.jpg');
    background-repeat:repeat;
    border: 2px solid #626262;
	width: 662px;
	margin-left:-331px;
	float: left;
	font-size: 1.2em;
	position: fixed;
	top: 80px; 
	bottom: 63px;
	left: 50%;
	z-index: 99999;
	/*--CSS3 Box Shadows--*/
	-webkit-box-shadow: 0px 0px 20px #000;
	-moz-box-shadow: 0px 0px 20px #000;
	box-shadow: 0px 0px 20px #000;
	/*--CSS3 Rounded Corners--*/
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
}
img.close_popup {
	float: right;
	margin: -10px -10px 0 0;
	
}
/*--Fixed Positioning for IE6--*/
*html #fade {
	position: absolute;
}
*html .popup_block {
	position: absolute;
}

/* ******************Popup navigation buttons******************* */

#nav-left, #nav-right{
	width: 50px;
	height: 100px;
	position: absolute;
	top: 170px;
	background: url(../images/cssSprite.png);
}

#nav-left{
	left: -65px;
	background-position: -450px -130px;
}

#nav-right{
	right: -65px;
	background-position: -450px -10px;
}
